@model string

@{
    var url = $"/oauth/authorize{Model}";
}

<h1>Server</h1>

url: @Model

<form action="@url" method="POST">
    <input type="text" name="username">
    <button type="submit">submit</button>
</form>